<html>

<head>
  <title>snapdecide</title>
  <%= stylesheet_link_tag "style" %>
</head>

<body>

<div class="page">

<div class="header">
  <a href="/"><%= image_tag 'snapdecide.png' %></a>
</div>

<%= yield %>

</div>

<% if RAILS_ENV == 'production' %>
<!-- google analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2260866-2");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<% end %>

</body>

</html>


